$black: #161616;

$ict: #920000;
$ict-lighten: #EDACAC;

$swe: #920072;
$swe-lighten: #E0ACED;

$ibmi: #009206;
$ibmi-lighten: #ACEDAE;

$sol: #003A92;
$sol-lighten: #ACCEED;

$devops: #928300;
$devops-lighten: #ECEDAC;

$radius: 10px;
$box-offset: 15px;



$primary: blue;

$custom-colors: (
        "black": ($black),

        "ict": ($ict),
        "ict-lighten": ($ict-lighten),

        "swe": ($swe),
        "swe-lighten": ($swe-lighten),

        "ibmi": ($ibmi),
        "ibmi-lighten": ($ibmi-lighten),

        "sol": ($sol),
        "sol-lighten": ($sol-lighten),

        "devops": ($devops),
        "devops-lighten": ($devops-lighten),
);
